<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-6">
  <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-6 md:gap-3">
    <div class="relative flex flex-col gap-2">
      <label for="first_name">First Name</label>
      <input pInputText id="first_name" formControlName="firstName" pSize="small" />
      @if (contactForm.get('firstName')?.invalid && contactForm.get('firstName')?.touched) {
      <small class="absolute -bottom-5 left-1 text-red-500">First name is required.</small>
      }
    </div>
    <div class="relative flex flex-col gap-2">
      <label for="last_name">Last Name</label>
      <input pInputText id="last_name" formControlName="lastName" pSize="small" />
      @if (contactForm.get('lastName')?.invalid && contactForm.get('lastName')?.touched) {
      <small class="absolute -bottom-5 left-1 text-red-500">Last name is required.</small>
      }
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-6 md:gap-3">
    <div class="relative flex flex-col gap-2">
      <label for="company">Company</label>
      <input pInputText id="company" formControlName="company" pSize="small" />
      @if (contactForm.get('company')?.invalid && contactForm.get('company')?.touched) {
      <small class="absolute -bottom-5 left-1 text-red-500">Company is required.</small>
      }
    </div>
    <div class="relative flex flex-col gap-2">
      <label for="title">Title</label>
      <input pInputText id="title" formControlName="title" pSize="small" />
      @if (contactForm.get('title')?.invalid && contactForm.get('title')?.touched) {
      <small class="absolute -bottom-5 left-1 text-red-500">Title is required.</small>
      }
    </div>
  </div>

    <div class="relative flex flex-col gap-2">
      <label for="email">Email</label>
      <input pInputText id="email" type="email" formControlName="email" pSize="small" />
      @if (contactForm.get('email')?.invalid && contactForm.get('email')?.touched) {
      <small class="absolute -bottom-5 left-1 text-red-500">Please enter a valid email.</small>
      }
    </div>
    <div class="relative flex flex-col gap-2">
      <label for="phone_number">Phone Number</label>
      <app-phone-input formControlName="phoneNumber" placeholder="Enter phone number" />
      @if (contactForm.get('phoneNumber')?.invalid && contactForm.get('phoneNumber')?.touched) {
      <small class="absolute -bottom-5 left-1 text-red-500">Please enter a valid phone number.</small>
      }
    </div>

  <div class="flex flex-col gap-2">
    <label for="status">Status</label>
    <p-multiselect appendTo="body" [options]="states" id="status" formControlName="status" placeholder="Select States" optionLabel="label" optionValue="name" display="chip" size="small"/>

  </div>

  <div class="flex justify-end gap-2 mt-4">
    <button type="button" class="btn btn-sm btn-neutral" (click)="onCancel()">Cancel</button>
    <button type="submit" class="btn btn-sm btn-primary">
      {{ initialData() ? 'Update Contact' : 'Add Contact' }}
    </button>
  </div>
</form>
